.title{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 700;  
}
.main{
    padding-top: 70px;
    padding-bottom: 40px;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.form fieldset{
    display: flex;
    flex-direction: column;
    border-color: #f86021;
    border-width: 1px;
    border-style:solid;
    padding: 10px;
}
.form fieldset legend {
  color: white;
  background-color: #f86021;
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 5px;
  border: 0;
  font-size: calc(1.1vmin + 0.5vw);
}
.formLabel{
    display: flex;
    font-size: 12px;
    font-style: italic;
}
.formLabel.error{
    display: flex;
    color: red;
}
.formLabel.correct {
    display: none;
}
.input {
    width: auto;
    min-width: 100px;
    border-width: 0 0 1px;
    border-style:solid;
    outline: none;
    background-size: 18px;
    font-family: 'Inter';
    font-size: calc(1.1vmin + 0.5vw);
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1d2120;
}
.input.error {
    box-shadow: 0 5px 6px -5px red;
    border-width: 1px;
    border-color: red;
}
.input.correct {
    box-shadow: 0 5px 6px -6px green;
    border-width: 1px;
    border-color: green;
}
.input:focus {
    box-shadow: none;
    border-color: #f86021;
}
.checkbox__label{
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    transition: 0.2s;
}
.checkbox__label.error{
    color: red;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
}

.miniSearch{
    width: 100%;
    border-width: 0 0 1px;
    outline: none;
    font-size: calc(1.1vmin + 0.5vw);
    padding-bottom: 5px;
    color: #1d2120;
    transition: 0.2s;
}:focus{
    border-color: #f86021;
}

.radio{
    display: flex;
    flex-direction: column;
    max-height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
}
.radio input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;
    
  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

.radio input:checked {
  border: 6px solid #f86021;
}
.radio label{
    font-size: calc(1.1vmin + 0.5vw);
}



button{
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 15px;
    border-color: #1d2120;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    transition: 0.2s;
}
button:hover{
    cursor: pointer;
    border-color: #f86021;
    background-color: #f86021;
    color: white;
}

