.title{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 700;  
}
.main{
    display: grid;
    padding-top: 70px;
    padding-bottom: 40px;
    justify-content: center;
}
.form{
    display: grid;
    justify-content: center;
}
.formLabel{
    display: none;
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
}
.formLabel.error{
    display: flex;
    color: red;
}
.formLabel.correct {
    display: none;
}
.input {
    width: auto;
    min-width: 100px;
    border-width: 0 0 1px;
    outline: none;
    background-size: 18px;
    font-family: 'Inter';
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #1d2120;
    transition: 0.2s;
}
.input.error {
    box-shadow: 0 5px 6px -5px red;
    border-width: 0 0 1px;
    border-color: red;
    transition: 0.2s;
}
.input.correct {
    box-shadow: 0 5px 6px -6px green;
    border-width: 0 0 1px;
    border-color: green;
    transition: 0.2s;
}
.input:focus {
    box-shadow: none;
    border-width: 0 0 1px;
    border-color: #f86021;
    transition: 0.2s;
}
.checkbox__label{
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    transition: 0.2s;
}
.checkbox__label.error{
    color: red;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
}

button{
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 15px;
    border-color: #1d2120;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    transition: 0.2s;
}
button:hover{
    cursor: pointer;
    border-color: #f86021;
    color: #f86021;
}

