.title{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mark{
    height: min-content;
    margin-left: 20px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "m s"
    "m t";
}
.stars{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-self: flex-end;
    grid-area: s;
    margin-bottom: 0px;
}
.star{
    font-size: calc(1vmin + 0.7vw);
    width: calc(1vmin + 0.7vw);
    height: calc(1vmin + 0.7vw);
}
.star::after{
    content: "★";
    color: #a8a8a8;
}
.stars[data-total-value="1"] .star:nth-child(n + 5)::after,
.stars[data-total-value="2"] .star:nth-child(n + 4)::after,
.stars[data-total-value="3"] .star:nth-child(n + 3)::after,
.stars[data-total-value="4"] .star:nth-child(n + 2)::after,
.stars[data-total-value="5"] .star:nth-child(n + 1)::after {
    color: #F86021;
}
.points{
    align-self: center;
    grid-area: m;
    font-size: calc(1.5vmin + 1.5vw);
}
.pointsText{
    align-content: flex-start;
    grid-area: t;
}
.item{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-auto-rows: auto;
    gap: 2%;
    align-items: center;
}
.itemImage{
    width: 100%;
    height: calc(20vmin + 10vw);
    min-height: 150px;
    max-height: 360px;
    min-width: 50px;
    object-fit: cover;
    border-radius: 10px;
}
.slideshowContainer{
    max-width: 100%;
    position: relative;
    /* margin: auto; */
}
.slidePrev, .slideNext{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 18px;
    transition: 0.6s;
    border-radius: 0 6px 6px 0;
    user-select: none;
    opacity: 0;
}
.slideNext{
    right: 0;
    border-radius: 6px 0 0 6px;
}
.slidePrev.active, .slideNext.active{
    color: white;
    background-color: rgba(0,0,0,0.4);
    opacity: 1;
}
.slidePrev.active:hover, .slideNext.active:hover{
    color: white;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
}
.slideText{
    color: white;
    padding: 8px 12px;
    position: absolute;
    font-size: calc(1vmin + 1vw);
    text-shadow: 0 0 5px #000000;
    bottom: 10%;
}
.dot{
    cursor: pointer;
    height: calc(0.5vmin + 0.5vw);
    width: calc(0.5vmin + 0.5vw);;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
.itemSecondColumn{
    display: grid;
    width: auto;
    height: min-content;
    gap: 10px;
    row-gap: 15px;

}
.itemSecondColumn img{
    width: calc(1vmin + 0.5vw);
    height: calc(1vmin + 0.5vw);
}
.description{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "f s";
    margin-top: 30px;
    gap: 2%;
}
.descFirstColumn{
    grid-area: f;
}
.descFirstColumn p{
    margin-top: 20px;
    margin-bottom: 10px;
}
.descSecondColumn{
    grid-area: s;
}
.descSecondColumn p{
    margin-top: 10px;
}
.descSecondColumn h3{
    margin-top: 20px;
}

#lbOuter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.3s;
}
#lbOuter.show{
    visibility: visible;
    opacity: 1;
}
#lbInner{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#lbInner img{
    width: 60%;
    height: auto;
    max-width: 1200px;
}